.bold {
    font-weight: bold;
}


/* Modal stylesheet*/

#myModal .modal-body p {
    text-align: left;
    /* color: white; */
}

#myModal .modal-body textarea {
    width: 100%;
}

#myModal .modal-header {
    border-bottom: none;
    /* color: white; */
}

#myModal {
    display: flex;
}

button {
    background-color: transparent;
    border: none;
}


/*Game Icons stylesheet */

.gameIcons img {
    flex-wrap: inline-flex;
    max-width: 20%;
    margin: 1rem;
}

.gameIcons img:hover,
.targetIcon:hover {
    filter: invert(12%) sepia(54%) saturate(5547%) hue-rotate(348deg) brightness(116%) contrast(99%);
}

.targetIcon:not(ul li .targetIcon) {
    max-width: 5%;
}

.targetIcon {
    visibility: visible;
    transition: all .5s ease-out;
}


/*Logo list stylesheet */

.logoWall ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    flex-wrap: wrap;
}

.logoWall ul li {
    margin: auto;
    max-width: 60%;
    padding-left: 1rem;
    text-align: center;
    width: 20%;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: all .5s ease-in-out;
}

.logoWall ul li:hover {
    filter: grayscale(0);
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .logoWall ul li {
        width: 33%;
    }
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}


/* tooltip stylesheet*/

.tooltiptext {
    visibility: hidden;
}

.tooltiptext:hover {
    visibility: visible;
}