/* #first {
    background-color: aquamarine;
}

#second {
    background-color: teal;
}

#third {
    background-color: skyblue;
}

div p {
    text-align: center;
    align-content: center;
    font-size: large;
    margin: 1em;
    padding: 3em;
} */

i {
    font-size: 200%;
    padding: 1em;
    display: flex;
}

button {
    background-color: transparent;
    border: none;
}


/* h1,
#result {
    display: inline-flex;
} */